<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oportunizando - Oportunidades</title>
    <!--Adicionar o Tailwind usando o cdn-->
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>

    <main>
        <!--seção de apresentação-->
        <div class="relative w-full h-screen flex justify-center items-center shadow-md">
            <!--Imagem de fundo-->
            <img src="img/background.png" alt="banner" class=" w-full h-full object-cover">

            <div class="absolute inset-0 max-w-full h-auto flex flex-col md:flex-row place-content-between justify-center items-center mx-auto self-center ">
                <img src="img/logo.png" alt="imagem da logo" class=" w-1/2 h-auto">
                <div class="bg-white  max-h-full rounded-2xl flex flex-col justify-center items-center gap-2 sm:gap-5 p-5 sm:w-1/2 m-8 h-auto sm:py-8">
                    <h1 class ="text-2xl sm:text-3xl md:text-4xl text-center leading-[2]">
                        Oportunizando para<br>
                        <span class="text-5xl sm:text-6xl md:text-7xl font-bold justify-center">
                            Oportunidades
                        </span>      
                    </h1> 
                    <p class="text-4xl ">
                        Acesse agora!
                    </p>
                    <p class="text-3xl ">
                        (Em Breve)
                    </p>

                    <button class="bg-[#F3CF64] p-2 px-16 rounded-md text-lg mt-12 text-[#472E7B] font-bold">
                        Saber mais
                    </button>
                </div>              
            </div>
        </div>
        <!--Seção de apresentação da ideia-->
        <section class="text-lg  flex flex-col justify-center items-center">
            <h2 class="self-start p-8 mt-12 text-3xl text-center sm:text-none sm:text-4xl text-[#5F37B5] font-bold">
                Oportunizando para Oportunidades: Conectando Seu Programa aos Melhores Talentos do Brasil
            </h2>

            <p class="self-start p-2 px-8">
                No Brasil, milhares de jovens talentos estão prontos para transformar seu potencial em resultados. O problema? <span class="font-bold ">As melhores oportunidades não os encontram - e vice-versa.</span>
            </p>
            <p class="self-start p-2 px-8">
                É aqui que entramos.
            </p>
            <p class="self-start p-2 px-8">
                <span class="font-bold">A Oportunizando é a ponte inteligente entre sua organização e os talentos que você busca.</span> Seja você uma empresa, universidade ou programa social, oferecemos a plataforma e as ferramentas para:
            </p>
        
            <h2 class=" self-start p-8 mt-16 text-4xl text-[#5F37B5] font-bold">
                Por Que Você Vai Amar a Oportunizando?
            </h2>
            <div class="flex flex-col sm:flex-row sm:place-content-between p-2 px-8">
                <div class="flex flex-col text-lg gap-4 sm:w-1/2">
                    <div>
                        <h3 class="font-bold">
                            1. Alcance Direto ao Público Certo
                        </h3>
                        <p>
                            Nossa tecnologia de match inteligente conecta seu programa aos perfis mais alinhados - não por sorte, mas por dados. Jovens de todo o Brasil nos procuram exatamente porque sabem que aqui encontram oportunidades reais.
                        </p>
                    </div>

                    <div>
                        <h3 class="font-bold">
                            2. Diversidade Garantida
                        </h3>
                        <p>
                            Cansado de receber sempre os mesmos perfis? Nossa rede atinge especialmente jovens de periferias, escolas públicas e comunidades subatendidas - talentos que você não encontra nos canais tradicionais.
                        </p>
                    </div>

                    <div>
                        <h3 class="font-bold">
                            3. Métricas que Transformam 
                        </h3>
                        <p>
                            Não basta divulgar - queremos que seu programa melhore a cada edição. Oferecemos relatórios completos sobre:
                        </p>
                        <ul class="list-disc mx-8">
                            <li>
                               Taxa de conversão (inscrição→seleção)
                            </li>
                            <li>
                                Perfil demográfico dos candidatos
                            </li>
                            <li>
                                Análise territorial dos talentos
                            </li>
                            <li>
                                Feedback dos participantes
                            </li>
                        </ul>
                    </div>
                    <div>
                        <h3 class="font-bold">
                            4. Credibilidade Social
                        </h3>
                        <p>
                           Ao anunciar conosco, sua marca se associa a uma plataforma reconhecida por impacto real. Já ajudamos a preencher:.
                        </p>
                        <ul class="list-disc mx-8">
                            <li>
                                82% das vagas de programas parceiros
                            </li>
                            <li>
                                Com 3x mais diversidade geográfica
                            </li>
                            <li>
                                E 60% de retenção superior à média do mercado!
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="sm:w-1/2 mt-4 sm:m-0 flex items-center justify-center ">
                    <img src="img/announcer.png" alt="Estudantes felizes" class=" px-4">
                </div>
            </div>
        </section>

        <!--Seção de apresentação das funcionalidades-->
        <section class="w-full">
            <h2 class="p-8 mt-12 text-4xl text-[#5F37B5] font-bold">
                Como Funciona?
            </h2>
            <div class="flex flex-col sm:flex-row sm:place-content-between px-8 w-full gap-5">
                <div class="flex flex-col w-full items-center  bg-[#482E7F] text-lg rounded-md">
                    <h3 class="font-bold text-[#FBCC42] text-3xl text-center sm:text-4xl mt-10">
                        Plano Básico (Grátis)
                    </h3>
                    <ul class="list-disc text-white m-8">
                        <li>Cadastro da oportunidade em nosso banco</li>
                        <li>Acesso a métricas básicas de visualização</li>
                    </ul>
                </div>

                <div class="flex flex-col w-full items-center bg-[#482E7F] text-lg rounded-md">
                    <h3 class="font-bold text-[#FBCC42] text-3xl text-center sm:text-4xl mt-10">
                        Plano Premium (Sob Medida)
                    </h3>
                    <ul class="list-disc text-white m-8">
                        <li>Destaque em nossas redes (50k+ seguidores)</li>
                        <li>Campanhas personalizadas por e-mail/SMS</li>
                        <li>Relatório completo de desempenho</li>
                        <li>Consultoria para otimizar seu edital</li>
                        <li>Acesso ao nosso banco de talentos filtrado</li>
                    </ul>
                </div>
        </section>

        <!--Seção final-->
        <section class="flex flex-col justify-center items-center mt-12 px-8 sm:px-0 mb-12">
            <h3 class="italic text-3xl sm:text-4xl font-bold text-[#5F37B5]">
                "Na Oportunizando, não distribuímos vagas - construímos trajetórias."
            </h3>

            <div class="flex gap-4 place-content-around mt-8 w-full sm:w-5/6 p-2">
                <button class="bg-[#F3CF64] p-3 w-5/6 rounded-md text[#442F72] shadow-md">
                    Cadastre Seu Programa
                </button>
                <button class="bg-[#F3CF64] p-3  w-5/6 rounded-md text-[#442F72] shadow-md">
                    Fale Com Nossa Equipe
                </button>
            </div>
        </section>
    </main>
</body>
</html>