<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <title>Team</title>
</head>
<body class="bg-white-100 p-8 font-sans text-gray-800">

  <h1 class="text-3xl font-bold text-blue-800 mb-6">
    Nosso Time: A Força por Trás da Oportunizando
  </h1>

  <p class="text-lg mb-4">
    Nascemos no <strong>Eduhackathon</strong>, um evento promovido pelo Instituto Saber Social em parceria com a Edugital, EBAC e Education for Sharing, com um propósito claro: transformar a dor da falta de acesso a oportunidades em uma solução concreta para jovens de todo o Brasil.
  </p>

  <p class="text-lg mb-4">
    Somos 5 mentes apaixonadas por impacto social, cada uma trazendo habilidades únicas – da academia ao empreendedorismo, da tecnologia à gestão de projetos. Juntos, combinamos expertise técnica com vivência para construir uma plataforma que não só conecta, mas transforma trajetórias.
  </p>

  <p class="text-lg font-medium mt-6">
    <em>Conheça quem faz a Oportunizando acontecer:</em>
  </p>

  <div class="flex gap-6">
  <div class="bg-purple-800 p-32 rounded-lg shadow-md border border-gray-400 max-w-lg w-64">
  <p class="text-white-700">
    É a força acadêmica do nosso time. Professora adjunta na prestigiada Universidade Federal do Rio de Janeiro, ela traz na bagagem MBAs pela USP e PUCRS, além de uma visão afiada sobre gestão de projetos educacionais. Thatiana transforma teorias em ações práticas que realmente funcionam nas salas de aula do Brasil real.
  </p>
</div>

  <div class="bg-purple-800 p-32 rounded-lg shadow-md border border-gray-400 max-w-lg w-64">
  <p class="text-white-700">
    É a força acadêmica do nosso time. Professora adjunta na prestigiada Universidade Federal do Rio de Janeiro, ela traz na bagagem MBAs pela USP e PUCRS, além de uma visão afiada sobre gestão de projetos educacionais. Thatiana transforma teorias em ações práticas que realmente funcionam nas salas de aula do Brasil real.
  </p>
</div>
    
  <div class="bg-purple-800 p-32 rounded-lg shadow-md border border-gray-400 max-w-lg w-64">
  <p class="text-white-700">
    É a força acadêmica do nosso time. Professora adjunta na prestigiada Universidade Federal do Rio de Janeiro, ela traz na bagagem MBAs pela USP e PUCRS, além de uma visão afiada sobre gestão de projetos educacionais. Thatiana transforma teorias em ações práticas que realmente funcionam nas salas de aula do Brasil real.
  </p>
</div>
</div>

</body>
</html>
